html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #121212;
    padding: 20px 0;
    position: relative;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
}

.work-with-me-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #167345;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.work-with-me-button:hover {
    background-color: #1da461;
}

section {
    padding: 40px 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.expertise-grid {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.expertise-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    transition: background-color 0.3s;
}

.expertise-item:hover {
    background-color: #333;
}

.expertise-item h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

footer {
    padding: 10px;
    background-color: #121212;
}

footer p {
    margin: 0;
}
body.hidden {
    overflow: hidden;
}

#welcome-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#welcome-animation.hidden {
    opacity: 0;
    visibility: hidden;
}

.welcome-text {
    font-size: 2.5em;
    color: #167345;
    animation: textFadeIn 1s ease-in-out;
}

@keyframes textFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.counter-container {
    margin-top: 20px;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.counter {
    font-size: 3em;
    font-weight: bold;
}
